<div class="note-area" ng-show="!editMode">
    <ul>
      <li ng-repeat="note in notes|orderBy:'id'">
        <a ng-click="openEditor(note.id)">{{note.title}}</a>
      </li>
    </ul>
</div>
<div id="editor" ng-show="editMode" class="note-area" contenteditable="true" ng-bind="noteText"></div>
<span><a  ng-click="save()" ng-show="editMode">Back</a></span>
<span><a  ng-click="openEditor()" ng-show="!editMode">Add Note</a></span>